@import "../../../assets/styles/tokens.scss";
@import "../../splash-page/resources/resources.component.scss";


.cc-resource-card-container{
    display: flex;
    flex-wrap: wrap
}

.cc-workflow-bubble-header{
    position: relative;
    overflow: hidden;
    height: 10em;
    width: 6em;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
    //border: .5em solid $cc-coral;
}

.cc-workflow-bubble-header-mini{
    position: relative;
    width: 7em;
    z-index: 1;

}

.cc-flow-mini{
    display: flex;
    flex: 1;
}


.cc-workflow-bubble-bottom {
    right: 20em;
}

.cc-workflow-bubble-top {
    left: 20em;
}

.cc-workflow-bubble-anchor-title{
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $cc-coral;
    position: relative;
    width: 8em;
    text-align: center;
}
.cc-workflow-bubble{
    height: 14em;
    display: flex;
    flex: 100%;
    padding: 1em;
}

.cc-workflow-bubble-header-mini-title{
    color: $cc-coral;
    position: relative;
    font-size: 2em;
    width: 5em;
    margin-bottom: .5em;
}


.cc-workflow-icon{
    width: 4em;
    height: 4em;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    margin: auto;
    top: 1em;
}


.empty{
    border:none;
}
.user {
    background-image: url('./../../../assets/icons/workflow/user.svg')
}
.goal {
    background-image: url('./../../../assets/icons/workflow/goal.svg')
}

.analytics {
    background-image: url('./../../../assets/icons/workflow/analytics.svg')
}
.sketch {
    background-image: url('./../../../assets/icons/workflow/sketch.svg')
}

.settings {
    background-image: url('./../../../assets/icons/workflow/settings.svg')
}
.globe {
    background-image: url('./../../../assets/icons/workflow/earth-globe.svg')
}
.conversation{
    background-image: url('./../../../assets/icons/workflow/conversation.svg')
}
.project{
    background-image: url('./../../../assets/icons/workflow/project.svg')
}