
<app-section-title [title]="'Fast Track To Market'"></app-section-title>
<div class="cc-container cc-resource-card-container" (window:resize)="onResize($event)">
  <ng-container *ngFor="let workflow of appConfigSvc.siteConfig.workFlowConfig;let i = index">
    <div class="cc-workflow-bubble">
      <div class="cc-flow-mini" *ngFor="let flow of workflow;" >
          <div class="cc-workflow-bubble-header" [attr.id]="flow.id" [ngClass]="{'empty': flow.placeholder }" >
              <div class="cc-workflow-icon" [ngClass]="flow.icon"></div>
              <div class="cc-workflow-bubble-anchor-title">{{flow.title}}</div>
            </div> 
      </div>
    </div>
  </ng-container>   
</div>