@import "../../assets/styles/tokens.scss";

.code-language-container{
    width: 100%;
    display: flex;
    height: 35em;

}

.code-language-card{
    width: 33%;
    // border: .001em solid #1f1f1f;
    height: 14em;
    display: table;
    vertical-align: middle;
    margin: .1em;
    // box-shadow: 3px 2px 11px -3px #4a4a4a;
}

.code-language-inner-container{
    position: absolute;
    display: flex;
    height: 35em;
    width: 100%;
    max-width: 45em;
}

.code-icon-conainer{
    display: table-cell;
    vertical-align: middle;
}
.code-icon{
    height: 5em;
    width: 5em;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin:auto;    
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    -ms-transition: all 2s linear;
    transition: all 2s linear;
}


.angular{
    background-image: url('./../../assets/images/code-languages/angular.png')
}
.auth0{
    background-image: url('./../../assets/images/code-languages/auth0.png')
}
.aws{
    background-image: url('./../../assets/images/code-languages/aws.png')
}
.azure{
    background-image: url('./../../assets/images/code-languages/azure.png')
}
.dotnet{
    background-image: url('./../../assets/images/code-languages/dotnet.png')
}
.python{
    background-image: url('./../../assets/images/code-languages/python.png')
}
.react{
    background-image: url('./../../assets/images/code-languages/react.png')
}
.salesforce{
    background-image: url('./../../assets/images/code-languages/salesforce.png')
}
.sql{
    background-image: url('./../../assets/images/code-languages/sql.png')
}

