@import "../../assets/styles/tokens.scss";

.code-language-container{
    width: 100%;
    display: flex;
    height: 35em;

}

.code-language-card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cc-language-icon-container{
    display: inline-flex;
}

.code-language-card-title{
    font-size: 1.8em;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $cc-coral;
    top: -2em;
    position: relative;
}
.code-language-card{
    margin: 4em;
}
.code-language-card-header{
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    margin: auto;
    top: -4.2em;
    z-index: 1;
    background-color:  $cc-coral;
}

.code-language-card-body{
    margin-top: 1em;
    max-width: 15em;
    color: $cc-white;
    position: relative;
    top: -3em;
    font-size: 1em;
    margin: auto;
}

.cc-anchor-title {
    width: 1em;
    height: 1em;
    background-size: 1em;
    font-size: 3em;
    margin: auto;
    background-repeat: no-repeat;
    top: 0.5em;
    position: relative;
}


.angular{
    background-image: url('./../../assets/images/code-languages/angular.png')
}
.auth0{
    background-image: url('./../../assets/images/code-languages/auth0.png')
}
.aws{
    background-image: url('./../../assets/images/code-languages/aws.png')
}
.azure{
    background-image: url('./../../assets/images/code-languages/azure.png')
}
.dotnet{
    background-image: url('./../../assets/images/code-languages/dotnet.png')
}
.python{
    background-image: url('./../../assets/images/code-languages/python.png')
}
.react{
    background-image: url('./../../assets/images/code-languages/react.png')
}
.salesforce{
    background-image: url('./../../assets/images/code-languages/salesforce.png')
}
.sql{
    background-image: url('./../../assets/images/code-languages/sql.png')
}

