<div class="cc-nav">
  <ul class="cc-stretch-nav" [ngClass]="{'cc-open' : navActive}" >
    <li class="cc-nav-stack" *ngFor="let section of appConfigSvc.siteConfig.pages;" [ngClass]="{'cc-nav-stack-open':  navActive}">
        <a  class="cc-anchor-title " [ngClass]="section.icon"></a>
    </li>
  </ul>
<div class="hamburger hamburger--collapse js-hamburger" (click)="navActive = !navActive" [ngClass]="{'is-active' : navActive}">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>

</div>
<!-- 
<div class="nav-nub">
    <span>Scroll Down To Explore</span>
   </div> -->