@import "../../../../assets/styles/tokens.scss";

.cc-nav{
    position: fixed;
    right: 2em;
    z-index: 99999;
    bottom: 4em;
    text-align: center;
    padding: .3em;
    border-radius: 5em;
   

}


.hamburger{
    background-color: $cc-coral;
    border-radius: 50%;
    animation:linear;
    animation-name:  fade-in;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;   
    -o-animation-fill-mode: forwards;    
    -ms-animation-fill-mode: forwards;  
    animation-fill-mode: forwards;
}

.hamburger-box {
    top: 2px;
}

.cc-stretch-nav{
    height: 0px;
    overflow:hidden;
    top: 68px;
    width: 52px;
    position: relative;
    background-color: $cc-coral; 
    border-radius: 5em;   
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.cc-open{

    margin-top:0;
    height:15em;
}

.cc-nav-stack-open{
    animation-name: zoominoutsinglefeatured;
    animation-duration: .1s;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(0,0);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.cc-nav-stack{
    position: relative;
    opacity: 1;
    margin-bottom: 1em;
    padding-top: 1.2em;
    transform: scale(0,0);
    transition: all 0.2s ease-in-out;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;   
    -o-animation-fill-mode: forwards;    
    -ms-animation-fill-mode: forwards;  
    animation-fill-mode: forwards;
}

.cc-anchor-title:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2,1.2);
}

.nav-nub{
    height: 1.3em;
    width: 4em;
    background: $cc-coral;
    bottom: 5.3em;
    position: fixed;
    right: 5.2em;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}

.cc-nav-stack:nth-child(1){
    animation-delay: .4s;
}
.cc-nav-stack:nth-child(2){
    animation-delay: .6s;
}
.cc-nav-stack:nth-child(3){
    animation-delay: .8s;
}
.cc-nav-stack:nth-child(4){
    animation-delay: 1s;
}

.cc-scoll-down-notification{
    background-color: $cc-coral;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 69px;
    left: 50%;
  }
  
  
  .cc-scoll-down-notification::before{
    border: solid $cc-white;
    border-width: 0 6px 5px 0;
    display: inline-block;
    padding: 6px;
    
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    content: "";
    margin: 15px;
  
  }

  .pot{
    -webkit-animation:linear;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;   
    -o-animation-fill-mode: forwards;    
    -ms-animation-fill-mode: forwards;  
    animation-fill-mode: forwards;
}     
@-webkit-keyframes run {
    0% { left: 50%;}
    100%{ left: calc(100% - 89px);}
    
}



.cc-nav-mark{
    height: .6em;
    width: .6em;
    margin: 2em 0em 2em 0em;
    background: #0000003b;
    border-radius: 50%;
    border: 1px solid $cc-coral;
}

.cc-anchor-title {
    display: block;
    width: 1em;
    height: 1em;
    background-size: 1em;
    font-size: 1.5em;
    margin-left: .55em;
    background-repeat: no-repeat;

}

ul {
    list-style: none;
    padding: 0;
  }




.home {
    background-image: url('./../../../assets/icons/home.svg')
}
.skill {
    background-image: url('./../../../assets/icons/skills.svg')
}
.gears-in-bald-head-side-view {
    background-image: url('./../../../assets/icons/gears-in-bald-head-side-view.svg')
}


@keyframes fade-in {
    from {background-color: transparent; opacity: 0;}
    to {background-color: $cc-coral; opacity: 1;}
}


.hamburger{
    padding:10px 10px;
}
.hamburger-box{
    width: 30px;
}
.hamburger-inner:before {
    width: 30px;
    background-color: #FFFFFF !important
};
.hamburger-inner {
    width: 30px;
    background-color: #FFFFFF !important
};
.hamburger-inner:after {
    width: 30px;
    background-color: #FFFFFF !important
};