<div class="continer-full-page">
    <div class="cc-top-nav" [ngClass]="showNav ? 'cc-nav-active' : 'cc-nav-inactive'">
        <div class="cc-logo"></div>
    </div>
    <app-splash-page  [splashHeight]="splashHeight" [playVideo]="showNav" [scrollPosition]="scrollPosition"></app-splash-page>
    <app-skill-set></app-skill-set>
    <app-code-languages></app-code-languages>
    <app-about-me></app-about-me>

</div>
    
<app-side-nav [scrollPosition]="scrollPosition" class="animated fadeInUp delay-4s"></app-side-nav>