
// Colors
 $cc-blue: #0084ff;
 $cc-white: #ffffff;
 $cc-coral: #EE343C;
 $cc-black: #121111;
 $cc-deep-black : #000000;
 $cc-fade-black:#3C3C3C;
 $cc-fade-gray:#b1b1b1;
 $cc-gray: #F0F2F5;
 $cc-purple: #6a48fc;
 $cc-splash-background:  rgb(35, 28, 28);

//Borders
 $cc-box-shadow-clear: 1px 1px 5px $cc-white;
 $cc-box-shadow-dark: 1px 1px 5px $cc-fade-gray;

 
//Card Width
$cc-card-width: 26em;


//  Spacing
 $cc-margin-xs : 1em;

//Mobile 
$cc-mobile-small : 320px;
$cc-mobile-large : 1080px;

//Navigation
$cc-nav-width: 4em;




::ng-deep body::-webkit-scrollbar {
    width: 0.2em;
}

::ng-deep body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::ng-deep body::-webkit-scrollbar-thumb {
  background-color: $cc-coral;
  outline: 1px solid $cc-coral;
}


@for $i from 1 to 10 {
    .delay-child:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
  }

 .delay-child{
    -webkit-transition: all 750ms ease;
    -ms-transition: all 750ms ease;
    transition: all 750ms ease ;
 } 