
// Colors
 $cc-blue: #0084ff;
 $cc-white: #ffffff;
 $cc-coral: #EE343C;
 $cc-black: #121111;
 $cc-deep-black : #000000;
 $cc-fade-black:#3C3C3C;
 $cc-fade-gray:#b1b1b1;
 $cc-gray: #F0F2F5;
 $cc-splash-background:  rgb(35, 28, 28);

//Borders
 $cc-box-shadow-clear: 1px 1px 5px $cc-white;
 $cc-box-shadow-dark: 1px 1px 5px $cc-fade-gray;

 

//  Spacing
 $cc-margin-xs : 1em;

//Mobile 
$cc-mobile-small : 320px;
$cc-mobile-large : 1080px;

//Navigation
$cc-nav-width: 4em;