    <div class="cc-container" [style.height.px]="splashHeight" >
        <div [style.height.px]="splashHeight" class="splash-container "></div>
        <div   class="cc-video-wall"  [style.height.px]="splashHeight" >
               <video autoplay muted loop id="myVideo" oncanplay="this.play()" onloadedmetadata="this.muted = true"  #videoPlayer>
                        <source src="./../assets/videos/Hologram_Planet_by_nuva.mp4" type="video/mp4">
                      </video>
        </div>
        <div class="title-caption tracking-in-contract cc-mark">{{title}}</div>         
        <div class="cc-call-me-container animated fadeInUp delay-3s">
            <div class="cc-info-btn " (click)="authConfigSvc.login()">
                Sign In
            </div>
            <a class="cc-info-btn "  (click)="authConfigSvc.login()">
                Sign Up 
            </a>
        </div>
     </div>
